.movie {
    max-width: 550px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

.underline {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
}

.add > a {
    margin-left: 10px;
    text-decoration: underline;
    cursor: default;
    color: #6FE3B2;
}

.add > i {
    color: #6FE3B2;
}

.added > a {
    cursor: default;
    color: #FF6A6A;
}

.added > i {
    color: #FF6A6A;
}

@media screen and (min-width: 768px) {
    .movie {
        flex-direction: row;
        min-width: 550px;
    }

    img {
        margin-bottom: 0px;
    }
}