<div class="movie">
    <img src="{{ getUrl() }}" />
    <div>
        <h3>{{ movie.title }}</h3>
        <p class="underline">User Rating: {{ movie.vote_average }}</p>
        <p class="underline">Release Date: {{ movie.release_date }}</p>
        <p>{{ movie.overview }}</p>
        <div (click)="watchlistThis()" *ngIf="!watchlist" class="add">
            <i class="fas fa-heart"></i>
            <a>Add to Watchlist</a>
        </div>
        <div (click)="watchlistRemove()" *ngIf="watchlist" class="remove">
            <i class="fas fa-times"></i>
            <a>Remove from Watchlist</a>
        </div>
    </div>
</div>
